<!--section-footer-->
<div class="section-footer">
  <div class="footer-top bg-blue">
    <div class="col-md-3 col-sm-3">
      <div class="title-info">GIỚI THIỆU CHUNG</div>
      <ul>
        <li><span class="icon-arr"></span><a href="#">Góc văn hóa</a></li>
        <li><span class="icon-arr"></span><a href="#">Tin khuyến mại</a></li>
        <li><span class="icon-arr"></span><a href="#">Tin tức công nghệ</a></li>
        <li><span class="icon-arr"></span><a href="#">Tư vấn tiêu dùng</a></li>
        <li><span class="icon-arr"></span><a href="#">Tin công ty</a></li>
        <li><span class="icon-arr"></span><a href="#">Quan hệ cổ đông</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-3">
      <div class="title-info">HỖ TRỢ MUA HÀNG ONLINE</div>
      <ul>
        <li>
          <span class="icon-arr"></span>
          <a href="#">Hỗ trợ mua hàng trực tuyến</a>
        </li>
        <li>
          <span class="icon-arr"></span>
          <a href="#">Các hình thức thanh toán</a>
        </li>
        <li>
          <span class="icon-arr"></span>
          <a href="#">Hướng dẫn mua hàng trả góp</a>
        </li>
        <li>
          <span class="icon-arr"></span>
          <a href="#">Thanh toán hóa đơn với Payoo</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-3">
      <div class="title-info">CHÍNH SÁCH CHUNG</div>
      <ul>
        <li>
          <span class="icon-arr"></span>
          <a href="#">Chính sách bao giá sản phẩm</a>
        </li>
        <li>
          <span class="icon-arr"></span>
          <a href="#">Chính sách đổi trả sản phẩm</a>
        </li>
        <li>
          <span class="icon-arr"></span>
          <a href="#">Chính sách bảo hành</a>
        </li>
        <li>
          <span class="icon-arr"></span>
          <a href="#">Bảng báo giá lắp đặt điều hòa</a>
        </li>
        <li>
          <span class="icon-arr"></span>
          <a href="#">Chính sách vận chuyển </a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-3">
      <div class="title-info">THẺ KHÁCH HÀNG</div>
      <ul>
        <li><span class="icon-arr"></span><a href="#">Quy trình phát hành thẻ</a></li>
        <li><span class="icon-arr"></span><a href="#">Cách tích lũy điểm thưởng</a></li>
        <li><span class="icon-arr"></span><a href="#" target="_blank">Chính sách điểm thẻ khách hàng</a></li>
      </ul>
    </div>
  </div>
  <div class="agency">
    <div class="title-all">
      <a href="#">HỆ THỐNG 39 TRUNG TÂM ĐIỆN MÁY TRẦN ANH</a>
    </div>
    <div class="list-agency bg-color-white">
      <div class="row">
        <div class="col-sm-2">
          <a class="btn-agency" role="button" data-toggle="collapse" href="#hn" aria-expanded="false" aria-controls="collapseExample">
            Hà Nội
          </a>
        </div>
        <div class="col-sm-2">
          <a class="btn-agency" role="button" data-toggle="collapse" href="#hp" aria-expanded="false" aria-controls="collapseExample">
            Hải Phòng
          </a>
        </div>
        <div class="col-sm-2">
          <a class="btn-agency" role="button" data-toggle="collapse" href="#dn" aria-expanded="false" aria-controls="collapseExample">
            Đà Nẵng
          </a>
        </div>
        <div class="col-sm-2">
          <a class="btn-agency" role="button" data-toggle="collapse" href="#nt" aria-expanded="false" aria-controls="collapseExample">
            Nha Trang
          </a>
        </div>
        <div class="col-sm-2">
          <a class="btn-agency" role="button" data-toggle="collapse" href="#hcm" aria-expanded="false" aria-controls="collapseExample">
            Hồ Chí Minh
          </a>
        </div>
        <div class="col-sm-2">
          <a class="btn-agency" role="button" data-toggle="collapse" href="#ct" aria-expanded="false" aria-controls="collapseExample">
            Cần Thơ
          </a>
        </div>
      </div>
      
      
      <div class="collapse" id="nt">
        <div class="well">
          <div class="list-item-agency">
            <div class="table-responsive">
              <table class="table">
                
                <tbody><tr>
                  <td class="border-rb no-border-top"><div class="tit-mart"> Trần Anh Đà Nẵng 1</div>
                    <div class="add-mart">727 Nguyễn Hữu Thọ - TP Đà Nẵng</div>
                    <div class="map-mart"> <a href="/he-thong-sieu-thi-dien-may-tran-anh/?m=727nht">Bản đồ
                      đường đi</a> </div></td>
                  <td class="no-border-top"><div class="tit-mart"> Trần Anh Đà Nẵng 2</div>
                    <div class="add-mart">203 Điện Biên Phủ - TP Đà Nẵng</div>
                    <div class="map-mart"> <a href="/he-thong-sieu-thi-dien-may-tran-anh/?m=205dbp">Bản đồ
                      đường đi</a> </div><span class="img-soon"></span></td>
                  </tr>
                  
                </tbody></table>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse" id="hp">
        <div class="well">
          Hải Phòng
        </div>
      </div>
      <div class="collapse" id="dn">
        <div class="well">
          Đà Nẵng
        </div>
      </div>
      <div class="collapse" id="hn">
        <div class="well">
          Somethings..
        </div>
      </div>
      <div class="collapse" id="hcm">
        <div class="well">
          Hồ Chí Minh
        </div>
      </div>
      <div class="collapse" id="ct">
        <div class="well">
          Cần Thơ
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="copyright bg-color-white">
    <span>Copyright © 2002 - 2016. All Rights Reserved by Tran Anh</span>
  </div>
</div>
<!--/section-footer-->