<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2017-01-19T02:53:33.4273009Z</LastUpdateDate>
	<Body>&lt;ul class="text-center"&gt;
&lt;li&gt;&lt;a href="#"&gt; &lt;span class="sup-a"&gt;&lt;/span&gt; &lt;span class="support-text"&gt;Dịch vụ đột ph&amp;aacute;&lt;/span&gt; &lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#"&gt; &lt;span class="sup-b"&gt;&lt;/span&gt; &lt;span class="support-text"&gt;Trả g&amp;oacute;p ưu đ&amp;atilde;i&lt;/span&gt; &lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#"&gt; &lt;span class="sup-c"&gt;&lt;/span&gt; &lt;span class="support-text"&gt;Facebook&lt;/span&gt; &lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#"&gt; &lt;span class="sup-d"&gt;&lt;/span&gt; &lt;span class="support-text"&gt;Truyền h&amp;igrave;nh Trần Anh&lt;/span&gt; &lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#"&gt; &lt;span class="sup-e"&gt;&lt;/span&gt; &lt;span class="support-text"&gt;Mua chung&lt;/span&gt; &lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</Body>
	<UUID>Header.Support</UUID>
	<UserName>admin</UserName>
</HtmlBlock>