<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-12-11T03:24:00.4581216Z</LastUpdateDate>
	<Body>&lt;p&gt;&lt;img src="/Cms_Data/Contents/DongPhuc_DB/Media/Ad/300x187.gif" alt="300x187.gif" /&gt;&lt;/p&gt;</Body>
	<UUID>Home.Ad1</UUID>
	<UserName>admin</UserName>
</HtmlBlock>