<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2017-01-19T02:51:55.4390407Z</LastUpdateDate>
	<Body>&lt;div class="col-md-3 col-sm-3"&gt;
&lt;div class="title-info"&gt;GIỚI THIỆU CHUNG&lt;/div&gt;
&lt;ul&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt;&lt;a href="#"&gt;G&amp;oacute;c văn h&amp;oacute;a&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt;&lt;a href="#"&gt;Tin khuyến mại&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt;&lt;a href="#"&gt;Tin tức c&amp;ocirc;ng nghệ&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt;&lt;a href="#"&gt;Tư vấn ti&amp;ecirc;u d&amp;ugrave;ng&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt;&lt;a href="#"&gt;Tin c&amp;ocirc;ng ty&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt;&lt;a href="#"&gt;Quan hệ cổ đ&amp;ocirc;ng&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;div class="col-md-3 col-sm-3"&gt;
&lt;div class="title-info"&gt;HỖ TRỢ MUA H&amp;Agrave;NG ONLINE&lt;/div&gt;
&lt;ul&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt; &lt;a href="#"&gt;Hỗ trợ mua h&amp;agrave;ng trực tuyến&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt; &lt;a href="#"&gt;C&amp;aacute;c h&amp;igrave;nh thức thanh to&amp;aacute;n&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt; &lt;a href="#"&gt;Hướng dẫn mua h&amp;agrave;ng trả g&amp;oacute;p&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt; &lt;a href="#"&gt;Thanh to&amp;aacute;n h&amp;oacute;a đơn với Payoo&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;div class="col-md-3 col-sm-3"&gt;
&lt;div class="title-info"&gt;CH&amp;Iacute;NH S&amp;Aacute;CH CHUNG&lt;/div&gt;
&lt;ul&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt; &lt;a href="#"&gt;Ch&amp;iacute;nh s&amp;aacute;ch bao gi&amp;aacute; sản phẩm&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt; &lt;a href="#"&gt;Ch&amp;iacute;nh s&amp;aacute;ch đổi trả sản phẩm&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt; &lt;a href="#"&gt;Ch&amp;iacute;nh s&amp;aacute;ch bảo h&amp;agrave;nh&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt; &lt;a href="#"&gt;Bảng b&amp;aacute;o gi&amp;aacute; lắp đặt điều h&amp;ograve;a&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt; &lt;a href="#"&gt;Ch&amp;iacute;nh s&amp;aacute;ch vận chuyển &lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;div class="col-md-3 col-sm-3"&gt;
&lt;div class="title-info"&gt;THẺ KH&amp;Aacute;CH H&amp;Agrave;NG&lt;/div&gt;
&lt;ul&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt;&lt;a href="#"&gt;Quy tr&amp;igrave;nh ph&amp;aacute;t h&amp;agrave;nh thẻ&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt;&lt;a href="#"&gt;C&amp;aacute;ch t&amp;iacute;ch lũy điểm thưởng&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;span class="icon-arr"&gt;&lt;/span&gt;&lt;a href="#" target="_blank"&gt;Ch&amp;iacute;nh s&amp;aacute;ch điểm thẻ kh&amp;aacute;ch h&amp;agrave;ng&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;</Body>
	<UUID>Footer.Menu</UUID>
	<UserName>admin</UserName>
</HtmlBlock>