<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2017-01-19T02:54:46.6531172Z</LastUpdateDate>
	<Body>&lt;p&gt;&lt;img src="https://lib.trananh.com.vn/img/logo.png" /&gt;&lt;/p&gt;</Body>
	<UUID>Header.Logo</UUID>
	<UserName>admin</UserName>
</HtmlBlock>