<div class="box-tab toggle-btn" data-toggle="collapse" data-target="#menu-price">
  Chọn mức giá<span class="caret hidden-lg hidden-md hidden-sm"></span>
</div>
<ul id="menu-price" class="bb_content collapse out">
   <li class="li_item_brand">
     <h3>  ››<a href="#">Từ 2 - 5 triệu</a></h3>
   </li>
   <li class="li_item_brand">
     <h3>  ››<a href="#">Từ 5 - 7 triệu</a></h3>
   </li>
   <li class="li_item_brand">
     <h3>  ››<a href="#">Từ 7 - 10 triệu</a></h3>
   </li>
</ul>