<div class="footer-top bg-blue">
  <div class="col-md-3 col-sm-3">
    <div class="title-info">GIỚI THIỆU CHUNG</div>
    <ul>
      <li><span class="icon-arr"></span><a href="#">Góc văn hóa</a></li>
      <li><span class="icon-arr"></span><a href="#">Tin khuyến mại</a></li>
      <li><span class="icon-arr"></span><a href="#">Tin tức công nghệ</a></li>
      <li><span class="icon-arr"></span><a href="#">Tư vấn tiêu dùng</a></li>
      <li><span class="icon-arr"></span><a href="#">Tin công ty</a></li>
      <li><span class="icon-arr"></span><a href="#">Quan hệ cổ đông</a></li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="title-info">HỖ TRỢ MUA HÀNG ONLINE</div>
    <ul>
      <li>
        <span class="icon-arr"></span>
        <a href="#">Hỗ trợ mua hàng trực tuyến</a>
      </li>
      <li>
        <span class="icon-arr"></span>
        <a href="#">Các hình thức thanh toán</a>
      </li>
      <li>
        <span class="icon-arr"></span>
        <a href="#">Hướng dẫn mua hàng trả góp</a>
      </li>
      <li>
        <span class="icon-arr"></span>
        <a href="#">Thanh toán hóa đơn với Payoo</a>
      </li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="title-info">CHÍNH SÁCH CHUNG</div>
    <ul>
      <li>
        <span class="icon-arr"></span>
        <a href="#">Chính sách bao giá sản phẩm</a>
      </li>
      <li>
        <span class="icon-arr"></span>
        <a href="#">Chính sách đổi trả sản phẩm</a>
      </li>
      <li>
        <span class="icon-arr"></span>
        <a href="#">Chính sách bảo hành</a>
      </li>
      <li>
        <span class="icon-arr"></span>
        <a href="#">Bảng báo giá lắp đặt điều hòa</a>
      </li>
      <li>
        <span class="icon-arr"></span>
        <a href="#">Chính sách vận chuyển </a>
      </li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="title-info">THẺ KHÁCH HÀNG</div>
    <ul>
      <li><span class="icon-arr"></span><a href="#">Quy trình phát hành thẻ</a></li>
      <li><span class="icon-arr"></span><a href="#">Cách tích lũy điểm thưởng</a></li>
      <li><span class="icon-arr"></span><a href="#" target="_blank">Chính sách điểm thẻ khách hàng</a></li>
    </ul>
  </div>
</div>