<Role xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models">
	<Name>Content manager</Name>
	<Permissions>
		<Permission>
			<AreaName>Contents</AreaName>
			<DisplayName>Folder</DisplayName>
			<Group></Group>
			<Id>Contents__Folder</Id>
			<Name>Folder</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Contents</AreaName>
			<DisplayName>Content</DisplayName>
			<Group></Group>
			<Id>Contents__Content</Id>
			<Name>Content</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Contents</AreaName>
			<DisplayName>HtmlBlock</DisplayName>
			<Group></Group>
			<Id>Contents__HtmlBlock</Id>
			<Name>HtmlBlock</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Settings</DisplayName>
			<Group>System</Group>
			<Id>Sites_System_Settings</Id>
			<Name>Settings</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Custom error</DisplayName>
			<Group>System</Group>
			<Id>Sites_System_Custom error</Id>
			<Name>Custom error</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Url redirect</DisplayName>
			<Group>System</Group>
			<Id>Sites_System_Url redirect</Id>
			<Name>Url redirect</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Robots.txt</DisplayName>
			<Group>Settings</Group>
			<Id>Sites_Settings_Robots.txt</Id>
			<Name>Robots.txt</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Label</DisplayName>
			<Group>Development</Group>
			<Id>Sites_Development_Label</Id>
			<Name>Label</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Publish</DisplayName>
			<Group>Page</Group>
			<Id>Sites_Page_Publish</Id>
			<Name>Publish</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
	</Permissions>
</Role>