<Role xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models">
	<Name>Developer</Name>
	<Permissions>
		<Permission>
			<AreaName>Contents</AreaName>
			<DisplayName>Setting</DisplayName>
			<Group></Group>
			<Id>Contents__Setting</Id>
			<Name>Setting</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Contents</AreaName>
			<DisplayName>Schema</DisplayName>
			<Group></Group>
			<Id>Contents__Schema</Id>
			<Name>Schema</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Contents</AreaName>
			<DisplayName>Folder</DisplayName>
			<Group></Group>
			<Id>Contents__Folder</Id>
			<Name>Folder</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Contents</AreaName>
			<DisplayName>Content</DisplayName>
			<Group></Group>
			<Id>Contents__Content</Id>
			<Name>Content</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Contents</AreaName>
			<DisplayName>Broadcasting</DisplayName>
			<Group></Group>
			<Id>Contents__Broadcasting</Id>
			<Name>Broadcasting</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Contents</AreaName>
			<DisplayName>Workflow</DisplayName>
			<Group></Group>
			<Id>Contents__Workflow</Id>
			<Name>Workflow</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Contents</AreaName>
			<DisplayName>SearchSetting</DisplayName>
			<Group></Group>
			<Id>Contents__SearchSetting</Id>
			<Name>SearchSetting</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Contents</AreaName>
			<DisplayName>HtmlBlock</DisplayName>
			<Group></Group>
			<Id>Contents__HtmlBlock</Id>
			<Name>HtmlBlock</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Membership</AreaName>
			<DisplayName>Setting</DisplayName>
			<Group></Group>
			<Id>Membership__Setting</Id>
			<Name>Setting</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Membership</AreaName>
			<DisplayName>Group</DisplayName>
			<Group></Group>
			<Id>Membership__Group</Id>
			<Name>Group</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Membership</AreaName>
			<DisplayName>Member</DisplayName>
			<Group></Group>
			<Id>Membership__Member</Id>
			<Name>Member</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Membership</AreaName>
			<DisplayName>Connect</DisplayName>
			<Group></Group>
			<Id>Membership__Connect</Id>
			<Name>Connect</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Settings</DisplayName>
			<Group>System</Group>
			<Id>Sites_System_Settings</Id>
			<Name>Settings</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>User</DisplayName>
			<Group>System</Group>
			<Id>Sites_System_User</Id>
			<Name>User</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Custom error</DisplayName>
			<Group>System</Group>
			<Id>Sites_System_Custom error</Id>
			<Name>Custom error</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Url redirect</DisplayName>
			<Group>System</Group>
			<Id>Sites_System_Url redirect</Id>
			<Name>Url redirect</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>A/B Test</DisplayName>
			<Group>System</Group>
			<Id>Sites_System_A/B Test</Id>
			<Name>A/B Test</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Robots.txt</DisplayName>
			<Group>Settings</Group>
			<Id>Sites_Settings_Robots.txt</Id>
			<Name>Robots.txt</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Layout</DisplayName>
			<Group>Development</Group>
			<Id>Sites_Development_Layout</Id>
			<Name>Layout</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>View</DisplayName>
			<Group>Development</Group>
			<Id>Sites_Development_View</Id>
			<Name>View</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Label</DisplayName>
			<Group>Development</Group>
			<Id>Sites_Development_Label</Id>
			<Name>Label</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>File</DisplayName>
			<Group>Development</Group>
			<Id>Sites_Development_File</Id>
			<Name>File</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>PageMapping</DisplayName>
			<Group>Development</Group>
			<Id>Sites_Development_PageMapping</Id>
			<Name>PageMapping</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Submission setting</DisplayName>
			<Group>Development</Group>
			<Id>Sites_Development_Submission setting</Id>
			<Name>Submission setting</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Plugin</DisplayName>
			<Group>Extensions</Group>
			<Id>Sites_Extensions_Plugin</Id>
			<Name>Plugin</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Module</DisplayName>
			<Group>Extensions</Group>
			<Id>Sites_Extensions_Module</Id>
			<Name>Module</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Edit</DisplayName>
			<Group>Page</Group>
			<Id>Sites_Page_Edit</Id>
			<Name>Edit</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
		<Permission>
			<AreaName>Sites</AreaName>
			<DisplayName>Publish</DisplayName>
			<Group>Page</Group>
			<Id>Sites_Page_Publish</Id>
			<Name>Publish</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
	</Permissions>
</Role>