 <!--header-->
<div id="header" class="header">
  <!--header-top-->
  <div class="header-top bg-blue-1">
    <ul class="hotline-header ">
      <li><a href="tel:1900545546">Mua hàng: 1900 545 546</a></li>
      <li><a href="tel:0963649191">Hotline: 0963 64 9191</a></li>
      <li><a href="tel:1900545545">CSKH: 1900 545 545</a></li>
      <li><a class="blink-color" href="/#">Xem hệ thống 39 trung tâm điện máy</a></li>
    </ul>
    
    @*<ul class="language pull-right">
      <li><a href="#">VN</a></li>
      <li><a href="#">EN</a></li>
    </ul>*@
  </div>
  <!--/header-top-->
  @Html.FrontHtml().RenderView("Header.Navigation",ViewData)
  <!--support-header-->
  <div class="support-header">
    <ul class="text-center">
      <li>
        <a href="#">
        	<span class="sup-a"></span>
        	<span class="support-text">Dịch vụ đột phá</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="sup-b"></span>
          <span class="support-text">Trả góp ưu đãi</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="sup-c"></span>
          <span class="support-text">Facebook</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="sup-d"></span>
          <span class="support-text">Truyền hình Trần Anh</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="sup-e"></span>
          <span class="support-text">Mua chung</span>
        </a>
      </li>
    </ul>
  </div>
  <!--/support-header-->
</div>
<!--/header-->