<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-12-11T03:31:09.4108515Z</LastUpdateDate>
	<Body>&lt;p&gt;&lt;img src="/Cms_Data/Contents/DongPhuc_DB/Media/Ad/banner-tuyendung-1-.jpg" alt="banner-tuyendung-1-.jpg" width="300" height="100" /&gt;&lt;/p&gt;</Body>
	<UUID>Home.Ad2</UUID>
	<UserName>admin</UserName>
</HtmlBlock>