<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-12-11T03:37:07.5287859Z</LastUpdateDate>
	<Body>&lt;p&gt;&lt;img src="/Cms_Data/Contents/DongPhuc_DB/Media/Ad/ad-1200x350.jpg" alt="ad-1200x350.jpg" width="1200" height="350" /&gt;&lt;/p&gt;</Body>
	<UUID>Home.Ad1200x350</UUID>
	<UserName>admin</UserName>
</HtmlBlock>