<div id="content">
    <div class="news-main">
        <div class="tit-news-main">
            Giới thiệu Công ty</div>
        <div class="time-post">
            
        </div>
        <div class="news-content">
            @Html.FrontHtml().RenderHtmlBlock("GioiThieu.GioiThieu")
        </div>
    </div>
</div>