<!--navigation-->
<div class="navigation bg-blue">
  <nav class="navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a type="button" class="navbar-toggle collapsed" href="#mmenu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="navbar-brand" href="@Url.FrontUrl().PageUrl("trang-chu")">
        @Html.FrontHtml().RenderHtmlBlock("Header.Logo")
      </a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      @if(ViewBag.Menu != null){
      	<ul class="nav navbar-nav pull-right">
          @foreach(var item in ViewBag.Menu){
            <li>
              <a href="@item.Url">@item.Name</a>
            </li>
          }
        </ul>
      }
    </div><!-- /.navbar-collapse -->
  </nav>
</div>
<!--/navigation-->