<!--navigation-->
<div class="navigation bg-blue">
  <nav class="navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="https://lib.trananh.com.vn/img/logo.png" /></a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li class="active">
          <a href="#">Giới thiệu</a>
        </li>
        <li>
          <a href="#">Tin tức</a>
        </li>
        <li>
          <a href="#">Review sản phẩm</a>
        </li>
        <li>
          <a href="#">Kinh nghiệm hay</a>
        </li>
        <li>
          <a href="#">Quà tặng Nhật Bản</a>
        </li>
        <li>
          <a href="#">Tuyển dụng</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>
<!--/navigation-->