@if (ViewBag.News != null)
{
  <div id="content">
    <div class="news-main">
      <div class="tit-news-main">
        @ViewBag.News.Title
      </div>
      <div class="time-post">
        @ViewBag.News.Date
      </div>
      <div class="news-content">
        @Html.Raw(ViewBag.News.Content)
      </div>
    </div>
  </div>
}