 <ul id="menu-price" class="bb_content collapse out">
   <li class="li_item_brand">
     <h3>  ››<a href="#">Từ 2 - 5 triệu</a></h3>
   </li>
   <li class="li_item_brand">
     <h3>  ››<a href="#">Từ 5 - 7 triệu</a></h3>
   </li>
   <li class="li_item_brand">
     <h3>  ››<a href="#">Từ 7 - 10 triệu</a></h3>
   </li>
   
</ul>