<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-12-11T03:31:27.4327638Z</LastUpdateDate>
	<Body>&lt;p&gt;&lt;img src="/Cms_Data/Contents/DongPhuc_DB/Media/Ad/bannerweb_chucmungtrananhphutoidanang.jpg" alt="bannerweb_chucmungtrananhphutoidanang.jpg" width="300" height="95" /&gt;&lt;/p&gt;</Body>
	<UUID>Home.Ad3</UUID>
	<UserName>admin</UserName>
</HtmlBlock>