 <!--header-->
<div id="header" class="header">
  <!--header-top-->
  <div class="header-top bg-blue-1">
    @Html.FrontHtml().RenderHtmlBlock("Header.Top")
    
    @*<ul class="language pull-right">
      <li><a href="#">VN</a></li>
      <li><a href="#">EN</a></li>
    </ul>*@
  </div>
  <!--/header-top-->
  @Html.FrontHtml().RenderView("Header.Navigation",ViewData)
  <!--support-header-->
  <div class="support-header">
    @Html.FrontHtml().RenderHtmlBlock("Header.Support")
  </div>
  <!--/support-header-->
</div>
<!--/header-->