<div class="list-news">
  
  
  <div class="title-news-page">
    <a href="#" class="top-news flLeft">Khuyến mại và Co.op</a>
  </div>
  
  <div class="big-news">
    <div class="row row-fix">
      
      <div class="col-lg-6 col-md-9 col-sm-12 col-fix">
          <div class="main-news">
  
              <div class="main-news">
                  <div class="img-main-news">
                      <a href="#" title="Trải nghiệm sản phẩm – Nhận quà hấp dẫn cùng Panasonic và Trần Anh">
                          <img src="https://img.trananh.com.vn/trananh/2016/11/29/pana.jpg.590.390.cache">
                      </a>
                  </div>
                  <a href="#" class="tit-main-news">Trải nghiệm sản phẩm – Nhận quà hấp dẫn cùng Panasonic và Trần Anh</a>
                  <div class="des-main-news">
                      Nhân lễ hội trải nghiệm máy Trần Anh trên các tỉnh thành phía Bắc.</div>
              </div>
  
          </div>
      </div>
      <div class="col-lg-6 col-md-9 col-sm-12 col-fix border-rb">
  
          <div class="news-second">
              <div class="img-news-second flLeft">
                  <a href="#">
                      <img src="https://img.trananh.com.vn/trananh/2016/11/26/banner_tra_gop_mediamart_print-01.jpg" >
                  </a>
              </div>
              <a href="#" class="tit-news-second">Ưu đãi đặc biệt khi mua hàng trả góp cùng Karofi</a>
          </div>
          
      </div>
      
    </div>
      
  </div>
  
  
</div>