<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-12-08T12:42:54.7687011Z</LastUpdateDate>
	<Body>&lt;h3&gt;&lt;strong&gt;1- Giới thiệu chung&lt;/strong&gt;&lt;/h3&gt;
&lt;p&gt;&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;C&amp;ocirc;ng ty TNHH Sản xuất thương mại xuất nhập khẩu TBC l&amp;agrave; đơn vị chuy&amp;ecirc;n sản xuất, cung cấp c&amp;aacute;c sản phẩm bảo hộ lao động, đồng phục, trang phục c&amp;ocirc;ng sở, cũng như c&amp;aacute;c thiết bị bảo hộ lao động. Với bề d&amp;agrave;y kinh nghiệm trong lĩnh vực gia c&amp;ocirc;ng c&amp;aacute;c sản phẩm thời trang trong nhiều năm liền v&amp;agrave; bằng những nỗ lực kh&amp;ocirc;ng mệt mỏi của m&amp;igrave;nh TBC đ&amp;atilde; khẳng định được uy t&amp;iacute;n tr&amp;ecirc;n thị trường th&amp;ocirc;ng qua chất lượng sản phẩm, gi&amp;aacute; cả cạnh tranh, sự phục vụ chuy&amp;ecirc;n nghiệp v&amp;agrave; dịch vụ hậu m&amp;atilde;i ho&amp;agrave;n hảo.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;h3&gt;&lt;strong&gt;2- Sứ mệnh&lt;/strong&gt;&lt;/h3&gt;
&lt;p&gt;&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;Thấu hiểu sự thiết yếu của trang phục, thiết bị bảo hộ lao động trong thời đại sản xuất ng&amp;agrave;y c&amp;agrave;ng chuy&amp;ecirc;n nghiệp, TBC lu&amp;ocirc;n lu&amp;ocirc;n hướng đến gi&amp;aacute; trị cốt l&amp;otilde;i l&amp;agrave; mang đến cho người lao động một m&amp;ocirc;i trường l&amp;agrave;m việc an to&amp;agrave;n, thuận tiện v&amp;agrave; chuy&amp;ecirc;n nghiệp nhất. Từ đ&amp;oacute; TBC mong muốn g&amp;oacute;p một ch&amp;uacute;t nhỏ gi&amp;uacute;p người lao động l&amp;agrave;m việc hiệu quả hơn, gi&amp;aacute;n tiếp tạo ra gi&amp;aacute; trị cho x&amp;atilde; hội.&lt;/p&gt;
&lt;p&gt;TBC lu&amp;ocirc;n lu&amp;ocirc;n nỗ lực, lu&amp;ocirc;n lu&amp;ocirc;n vận động để cập nhật những c&amp;ocirc;ng nghệ ti&amp;ecirc;n tiến, hiện đại trong sản xuất để đ&amp;aacute;p ứng c&amp;aacute;c ti&amp;ecirc;u ch&amp;iacute; cần thiết như chống n&amp;oacute;ng, chống ch&amp;aacute;y, thấm mồ h&amp;ocirc;i, bền, dễ giặt m&amp;agrave; vẫn đảm bảo t&amp;iacute;nh thời trang v&amp;agrave; thẩm mỹ cao.&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;h3&gt;&lt;strong&gt;3- Tầm nh&amp;igrave;n&lt;/strong&gt;&lt;/h3&gt;
&lt;p&gt;&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;Trong 5 năm tới TBC mong muốn v&amp;agrave; nỗ lực để trở th&amp;agrave;nh một đơn vị chuy&amp;ecirc;n sản xuất, cung cấp c&amp;aacute;c sản phầm đồng phục, bảo hộ lao động uy t&amp;iacute;n nhất với thị trường trải rộng khắp Miền Bắc Việt Nam. C&amp;aacute;c sản phẩm của c&amp;ocirc;ng ty sẽ trở th&amp;agrave;nh niềm tin cậy v&amp;agrave; h&amp;agrave;i l&amp;ograve;ng cho mỗi đối t&amp;aacute;c.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;4- TBC lu&amp;ocirc;n&amp;nbsp; h&amp;agrave;nh động dựa tr&amp;ecirc;n c&amp;aacute;c gi&amp;aacute; trị sau&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Kh&amp;aacute;ch h&amp;agrave;ng lu&amp;ocirc;n l&amp;agrave; trung t&amp;acirc;m&lt;/strong&gt;: L&amp;ograve;ng tin của kh&amp;aacute;ch h&amp;agrave;ng sẽ tạo n&amp;ecirc;n sức mạnh của thương hiệu. Đ&amp;oacute; l&amp;agrave; triết l&amp;yacute; kinh doanh lu&amp;ocirc;n đ&amp;uacute;ng v&amp;agrave; kh&amp;ocirc;ng bao giờ thay đổi. Ngay từ những ng&amp;agrave;y đầu đi v&amp;agrave;o hoạt động, TBC lu&amp;ocirc;n lấy kh&amp;aacute;ch h&amp;agrave;ng l&amp;agrave; trung t&amp;acirc;m, lu&amp;ocirc;n coi việc tạo ra sản phẩm tốt nhất, dịch vụ ho&amp;agrave;n hảo nhất l&amp;agrave; tr&amp;aacute;ch nhiệm v&amp;agrave; nhiệm vụ của m&amp;igrave;nh v&amp;agrave; lấy đ&amp;oacute; l&amp;agrave;m động lực ph&amp;aacute;t triển.&lt;/p&gt;
&lt;p&gt;Với TBC kh&amp;aacute;ch h&amp;agrave;ng lu&amp;ocirc;n lu&amp;ocirc;n được lắng nghe v&amp;agrave; ch&amp;uacute;ng t&amp;ocirc;i lu&amp;ocirc;n cố gắng để đ&amp;aacute;p ứng mọi nhu cầu ch&amp;iacute;nh đ&amp;aacute;ng đ&amp;oacute;. Mọi y&amp;ecirc;u cầu, sự mong muốn t&amp;igrave;m hiểu th&amp;ocirc;ng tin, thắc mắc v&amp;agrave; g&amp;oacute;p &amp;yacute; của kh&amp;aacute;ch h&amp;agrave;ng đối với TBC đ&amp;oacute; ch&amp;iacute;nh l&amp;agrave; t&amp;agrave;i sản qu&amp;yacute; gi&amp;aacute; nhất&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Tr&amp;aacute;ch nhiệm với x&amp;atilde; hội:&lt;/strong&gt; TBC hiểu được gi&amp;aacute; trị cốt l&amp;otilde;i của doanh nghiệp với sự ph&amp;aacute;t triển của đất nước kh&amp;ocirc;ng chỉ về kinh tế m&amp;agrave; c&amp;ograve;n về x&amp;atilde; hội. Ch&amp;iacute;nh v&amp;igrave; thế TBC kh&amp;ocirc;ng chỉ tập trung v&amp;agrave;o mục ti&amp;ecirc;u kinh doanh m&amp;agrave; c&amp;ograve;n t&amp;iacute;ch cực tham gia v&amp;agrave;o c&amp;aacute;c hoạt động từ thiện, c&amp;aacute;c hoạt động cộng đồng. Với những việc l&amp;agrave;m đ&amp;oacute; TBC hi vọng sẽ g&amp;oacute;p đ&amp;oacute;ng g&amp;oacute;p một phần nhỏ b&amp;eacute; v&amp;agrave;o sự ph&amp;aacute;t triển của x&amp;atilde; hội v&amp;agrave; cộng đồng.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;S&amp;aacute;ng tạo v&amp;agrave; chất lượng:&lt;/strong&gt; Yếu tố trung t&amp;acirc;m của s&amp;aacute;ng tạo m&amp;agrave; TBC theo đuổi l&amp;agrave; tạo ra những mẫu thiết kế ph&amp;ugrave; hợp nhất , lựa chọn chất liệu v&amp;agrave; cải tiến kỹ thuật để tạo ra những sản phẩm ho&amp;agrave;n hảo nhất. B&amp;ecirc;n cạnh đ&amp;oacute; TBC lu&amp;ocirc;n đặt ra những ti&amp;ecirc;u chuẩn để đ&amp;aacute;p ứng v&amp;agrave; nỗ lực để vượt qua những y&amp;ecirc;u cầu của kh&amp;aacute;ch h&amp;agrave;ng v&amp;agrave; thị trường.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Tr&amp;aacute;ch nhiệm với c&amp;aacute;n bộ c&amp;ocirc;ng nh&amp;acirc;n vi&amp;ecirc;n: &lt;/strong&gt;Hiểu được gi&amp;aacute; trị của người lao động với doanh nghiệp, ch&amp;iacute;nh v&amp;igrave; thế việc tạo ra một m&amp;ocirc;i trường l&amp;agrave;m việc th&amp;acirc;n thiện v&amp;agrave; chuy&amp;ecirc;n nghiệp l&amp;agrave; điều cốt yếu m&amp;agrave; TBC lu&amp;ocirc;n hướng tới. Ch&amp;uacute;ng t&amp;ocirc;i tin rằng đ&amp;oacute; l&amp;agrave; c&amp;aacute;ch tốt nhất để c&amp;aacute;n bộ c&amp;ocirc;ng nh&amp;acirc;n vi&amp;ecirc;n của TBC ph&amp;aacute;t huy được đầy đủ tiềm năng c&amp;aacute; nh&amp;acirc;n.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;h3&gt;&lt;strong&gt;5- C&amp;aacute;c sản phẩm ch&amp;iacute;nh của c&amp;ocirc;ng ty&lt;/strong&gt;&lt;/h3&gt;
&lt;p&gt;&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Sản phẩm hướng tới của TBC l&amp;agrave; c&amp;aacute;c sản phẩm được sử dụng trong m&amp;ocirc;i trường l&amp;agrave;m việc, quần &amp;aacute;o bảo hộ, đồng phục, quần &amp;aacute;o c&amp;ocirc;ng sở&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;C&amp;aacute;c loại đồng phục:&lt;/strong&gt;&lt;/p&gt;
&lt;ul style="list-style-type: disc;"&gt;
&lt;li&gt;Trang phục d&amp;acirc;n qu&amp;acirc;n tự vệ, c&amp;ocirc;ng an x&amp;atilde;, bảo vệ d&amp;acirc;n phố: Quần &amp;aacute;o, d&amp;acirc;y lưng, caravat, giầy da, giầy vải, mũ cối, mũ mềm, mũ bảo hiểm, tất,&amp;hellip;&lt;/li&gt;
&lt;li&gt;Trang phục cho c&amp;ocirc;ng nh&amp;acirc;n vi&amp;ecirc;n: &amp;aacute;o ph&amp;ocirc;ng, thun.&lt;/li&gt;
&lt;li&gt;Trang phục y tế: &amp;Aacute;o Blouse, quần &amp;aacute;o phẫu thuật, trang phục cho &amp;yacute; t&amp;aacute;, điều dưỡng,&amp;hellip;&lt;/li&gt;
&lt;li&gt;Trang phục c&amp;ocirc;ng sở: &amp;Aacute;o ph&amp;ocirc;ng, sơ mi cho c&amp;ocirc;ng nh&amp;acirc;n vi&amp;ecirc;n, &amp;aacute;o sơ mi, quần &amp;acirc;u, vest cho nam v&amp;agrave; nữ, ch&amp;acirc;n v&amp;aacute;y c&amp;ocirc;ng sở.&lt;/li&gt;
&lt;li&gt;Đồng phục học sinh: Đồng phục học sinh m&amp;ugrave;a h&amp;egrave;, m&amp;ugrave;a đ&amp;ocirc;ng, v&amp;agrave; d&amp;agrave;nh cho mọi lứa tuổi từ cấp tiểu học đến trung học.&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&lt;strong&gt;Trang phục, thiết bị Bảo hộ lao động&lt;/strong&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Quần &amp;aacute;o bảo hộ lao động: May bằng c&amp;aacute;c loại vả th&amp;ocirc;, si, lon, KT-silk, Kaki Nam Định, Kaki PangRim H&amp;agrave;n Quốc.&lt;/li&gt;
&lt;li&gt;C&amp;aacute;c loại quần &amp;aacute;o chống ch&amp;aacute;y cho thợ h&amp;agrave;n,&lt;/li&gt;
&lt;li&gt;Thiết bị bảo hộ lao động: C&amp;aacute;c loại &amp;aacute;o phao bơi, c&amp;aacute;c loại biển b&amp;aacute;o giao th&amp;ocirc;ng, thiết bị đảm bảo an to&amp;agrave;n giao th&amp;ocirc;ng. C&amp;aacute;c loại găng tay bảo vệ, mũ bảo vệ, gi&amp;agrave;y vải, gi&amp;agrave;y da; &amp;aacute;o mưa, &amp;aacute;o phản quang; găng tay, khẩu trang, mũ vải, mũ nhựa, gi&amp;agrave;y vải, gi&amp;agrave;y mũi sắt, d&amp;acirc;y đai an to&amp;agrave;n, ủng, c&amp;aacute;c loại thiết bị c&amp;aacute;ch điện, PCCC&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&lt;strong&gt;Quần &amp;aacute;o thời trang xuất khẩu :&lt;/strong&gt; Gia c&amp;ocirc;ng xuất khẩu c&amp;aacute;c sản phẩm thời trang cho Anh, Hồng K&amp;ocirc;ng, Mỹ&lt;/p&gt;
&lt;p&gt;Kh&amp;aacute;ch h&amp;agrave;ng c&amp;oacute; sự lựa chọn đa dạng về kiểu d&amp;aacute;ng, m&amp;agrave;u sắc, chất liệu, đặc biệt l&amp;agrave; đối với những sản phẩm được sản xuất tại TBC. Tất cả&amp;nbsp; y&amp;ecirc;u cầu của kh&amp;aacute;ch h&amp;agrave;ng sẽ được ch&amp;uacute;ng t&amp;ocirc;i cố gắng đ&amp;aacute;p ứng một c&amp;aacute;ch đầy đủ, ho&amp;agrave;n thiện nhất&lt;/p&gt;
&lt;p&gt;Với những th&amp;agrave;nh quả đ&amp;atilde; đạt được, c&amp;ugrave;ng với kinh nghiệm v&amp;agrave; năng lực vốn c&amp;oacute;, TBC tự tin sẽ đem lại sự h&amp;agrave;i l&amp;ograve;ng v&amp;agrave; sự tin cậy cho qu&amp;yacute; kh&amp;aacute;ch. Đừng ngần ngại gọi cho ch&amp;uacute;ng t&amp;ocirc;i nếuqu&amp;yacute; kh&amp;aacute;ch cần tư vấn!&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;h3 style="text-align: center;"&gt;&lt;strong&gt;NIỀM TIN CỦA BẠN CH&amp;Iacute;NH L&amp;Agrave; SỨC MANH CỦA CH&amp;Uacute;NG T&amp;Ocirc;I!&lt;/strong&gt;&lt;/h3&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;</Body>
	<UUID>GioiThieu.GioiThieu</UUID>
	<UserName>admin</UserName>
</HtmlBlock>