<User xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models">
	<ActivateCode i:nil="true" />
	<DefaultPage i:nil="true" />
	<FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
	<GlobalRoles i:nil="true" />
	<IsApproved>true</IsApproved>
	<IsLockedOut>false</IsLockedOut>
	<PasswordSalt>wW8KAjO1zWOoAC+OUscIhA==</PasswordSalt>
	<UICulture>en-US</UICulture>
	<UtcLastLockoutDate i:nil="true" />
	<UtcLastLoginDate>2016-11-28T16:57:03.2077275Z</UtcLastLoginDate>
	<UtcLastPasswordChangedDate i:nil="true" />
	<Email>hoangbnd@gmail.com</Email>
	<Password>e0M8gimMRwXMAcCB1ltcTC2skKk=</Password>
	<IsAdministrator>true</IsAdministrator>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
</User>