<p>
    @("Developed ".Localize())
    @Kooboo.CMS.Sites.KoobooCMSVersion.Version <!-- | &copy; 2009-@System.DateTime.Now.Year <a href="http://www.kooboo.com"
        target="_blank">@("By Hoadv".Localize())</a></p> -->
