<?xml version="1.0" encoding="utf-8"?>
<SubmissionSetting xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<Name>Buy</Name>
	<PluginType>Kooboo.CMS.Sites.Extension.EmailPlugin, Kooboo.CMS.Sites</PluginType>
	<Settings xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Body</d2p1:Key>
			<d2p1:Value>&lt;div&gt;
&lt;strong&gt;&lt;span&gt;Thông tin đặt hàng&lt;/span&gt;&lt;/strong&gt;
&lt;br&gt;Tên khách hàng: {name}
&lt;br&gt;Điện thoại: {phone}
&lt;br&gt;Địa chỉ nhận hàng: {address}
&lt;br&gt;Email: {email}
&lt;br&gt;Ghi chú:&lt;br&gt;
{note}
&lt;br&gt;
&lt;br&gt;
 {template}
&lt;/div&gt;    </d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>IsBodyHtml</d2p1:Key>
			<d2p1:Value>true</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>Subject</d2p1:Key>
			<d2p1:Value>Thông tin đặt hàng từ {name}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>From</d2p1:Key>
			<d2p1:Value>{email}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>ReturnUrl</d2p1:Key>
			<d2p1:Value>~/{ReturnUrl}</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
	</Settings>
</SubmissionSetting>