<!--section-footer-->
<div class="section-footer">
  
  @Html.FrontHtml().RenderView("Footer.Top",ViewData)
    
  <div class="copyright bg-color-white">
    <span>Copyright © 2002 - 2016. All Rights Reserved by Tran Anh</span>
  </div>
</div>
<!--/section-footer-->