<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2017-01-19T02:51:18.0357418Z</LastUpdateDate>
	<Body>&lt;p&gt;Copyright &amp;copy; 2002 - 2016. All Rights Reserved by Tran Anh&lt;/p&gt;</Body>
	<UUID>Footer.Copyright</UUID>
	<UserName>admin</UserName>
</HtmlBlock>