<div class="owl-carousel">
  <div class="item">
    <img src="https://slide.trananh.com.vn/trananh/2016/11/22/standee.jpg" />
  </div>
  <div class="item">
    <img src="https://slide.trananh.com.vn/trananh/2016/11/23/tragop_banner.jpg" />
  </div>
  <div class="item">
    <img src="https://slide.trananh.com.vn/trananh/2016/11/26/thevietcombank1.jpg"/>
  </div>
  <div class="item"><img src="https://slide.trananh.com.vn/trananh/2016/11/25/black_friday2016_mach.jpg"/></div>
  <div class="item">
    <img src="https://slide.trananh.com.vn/trananh/2016/11/22/05_4k-hdr-android-hanger-100x50cm(2).jpg" />
  </div>
</div>