<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2017-01-19T02:56:01.9527809Z</LastUpdateDate>
	<Body>&lt;ul class="hotline-header "&gt;
&lt;li&gt;&lt;a href="tel:1900545546"&gt;Mua h&amp;agrave;ng: 1900 545 546&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="tel:0963649191"&gt;Hotline: 0963 64 9191&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="tel:1900545545"&gt;CSKH: 1900 545 545&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a class="blink-color" href="/#"&gt;Xem hệ thống 39 trung t&amp;acirc;m điện m&amp;aacute;y&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</Body>
	<UUID>Header.Top</UUID>
	<UserName>admin</UserName>
</HtmlBlock>