<aside id="sidebar" class="sticky hidden-md hidden-sm hidden-xs">
  <div class="relate-news">
      <div class="box_browse">
          <div class="box-tab-news">
             <b><span>Bài viết</span></b>
          </div>
          <ul class="bb_content-news">
            <div class="sm-img-news">
              <a href="#">
                <img src="https://img.trananh.com.vn/trananh/2016/07/06/1_75170.jpg" width="92" height="69">
              </a> 
              <a href="#" class="sm-tit-news">
                Top 5 sản phẩm tivi 40 - 50 inch bán chạy nhất tại điện máy Trần Anh mùa EURO 2016
              </a>
            </div>
          </ul>
      </div>

   </div>
</aside>