<!--section-footer-->
<div class="section-footer">
  
  @Html.FrontHtml().RenderView("Footer.Top",ViewData)
    
  <div class="copyright bg-color-white">
    <span>@Html.FrontHtml().RenderHtmlBlock("Footer.Copyright")</span>
  </div>
</div>
<!--/section-footer-->